ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
  height: 80px;
  width: 75%;
}
li {
  float: left;
}
li a {
  font-size: 15px;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  margin-left: 100px;
}
.logoimg {
  height: auto;
  margin-left: 445px;
  margin-top: 5px;
}
.left {
  float: left;
}
/*@media @mobile {


    .logoimg{
     display: flex;
      justify-content: center;
    }
    li {
      display: flex;
          }
          li a{
            justify-content: space-evenly;
          }   
  }*/
